block test
    div.test
        div.test-header
            h2= test.title
        div.test-body
            | inertia : #{test.inertia ? test.inertia + " s" : "no"}
            br
            bold code :
            pre: code(class="javascript")= test.run
            bold output :
            pre: code(class="javascript")= test.output
            bold simulation des vitesses :
            div.ct-chart.ct-double-octave(id="chart#{testCount}")
            bold simulation des distances :
            div.ct-chart.ct-double-octave(id="Dchart#{testCount}")
